@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: "Sora", sans-serif;
}

header {
  background-color: #01321c;
  padding: 3% 5%;
  text-align: center;
  height: 1470px;
  overflow-y: hidden;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      gap: 47px;

      li a {
        font-size: 19px;
        color: #ffffff;
      }
    }

    .nav-but {
      display: flex;
      align-items: center;
      gap: 19px;

      a {
        font-size: 19px;
        color: #ffffff;
      }

      button {
        padding: 10px 20px;
        border-radius: 16px;
        background-color: #ffc57f;

        a {
          color: #01321c;
          font-size: 19px;
        }
      }
    }
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: 600;
    margin-top: 90px;
  }

  p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 23px;
  }

  .login {
    padding: 13px 50px;
    border-radius: 16px;
    border: none;
    background-color: #ffc57f;
    margin-top: 35px;

    a {
      color: black;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .woman {
    display: flex;
    justify-content: center;
  }
}

article {
 
  padding: 3% 5%;

  h1 {
    font-size: 40px;
    text-align: center;
    color: #01321c;
    font-weight: 600;
  }

  .p {
    font-size: 25px;
    text-align: center;
    font-weight: 300;
  }

  .grid1 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin-top: 90px;

    .grid1-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #01321c;
            width: 100px;
            padding: 20px 25px;
        }

        h3 {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            padding: 15px 0px;
        }

        p {
            width: 300px;
            font-size: 16px;
            font-weight: 300;
        }
    }

  }

  .item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;




    .r {

        display: flex;
        gap: 20px;
        flex-direction: column;



        h1 {
            text-align: left;
            width: 500px;
            font-size: 40px;

        }


        p {
            width: 540px;
            line-height: 33px;
            text-align: left;
        }


        .rbut {
            width: 220px;
            color: white;
            padding: 15px 20px;
            border-radius: 16px;
            border: none;
            background-color: #01321c;
            font-size: 20px;
            font-weight: 600; 
            
        }
    }
  }


    .item3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .left {
            display: flex;
            flex-direction: column;
            gap: 20px;


            button {
                width: 220px;
                color: white;
                padding: 15px 20px;
                border-radius: 16px;
                border: none;
                background-color: #01321c;
                font-size: 20px;
                font-weight: 600;    
            }
        }

        .right {
            background-color: #ffc57f;
            border-radius: 50%;
            width: 400px;
            height: 400px;
            position: absolute;
            right: 60px;
            bottom: 89px;
            z-index: 1;
        }

        h1 {
            text-align: left;
            width: 500px;
            font-size: 40px;

        }


        p {
            width: 540px;
            line-height: 33px;
            text-align: left;
        }



    }


}


.image {



    background-image: url(./images/scott-webb-hDyO6rr3kqk-unsplash\ 1.png);
    background-repeat: none;
    background-size: cover;
}
